.modal-backdrop
{
    opacity:0.5 !important;
}
@media screen and (min-width: 768px) {
    .modal-dialog {
        right: 200px;
        bottom:auto;
        width: 400px;
        left: 33%;

    }
}
.modal-footer{
text-align: left;

}